<section class="banner banner-two-columns">
  <div class="container">
    <div class="left-column">
      <h2>Join the Geeks team & shape the future of design</h2>
      <div class="description">
        <p>
          If you’re passionate and ready to dive in, we’d love to meet you. We’re committed to supporting our employee
          professional development and well-being.
        </p>
      </div>
      <a href="#" class="btn darker">
        <span>
          Join Us
        </span>
      </a>
    </div>
    <div class="right-column">
      <figure>
        <picture>
          <source media="(min-width: 1200px)" srcset="{{ app_url }}/static/images/alternative-408x406.webp" type="image/webp">
          <source media="(min-width: 1200px)" srcset="{{ app_url }}/static/images/alternative-408x406.png" type="image/png">
          <img src="{{ app_url }}/static/images/alternative-408x406.png" alt="{{ app_name }} logo">
        </picture>
      </figure>
    </div>
  </div>
</section>