<footer>
  <div class="container">
    <section class="menu">
      <div class="menu-container about">
        <a href="{{ app_url }}" class="brand" rel="home">
          <figure>
            <picture>
              <source srcset="{{ app_url }}/static/images/doseextra-152x37.webp" type="image/webp">
              <source srcset="{{ app_url }}/static/images/doseextra-152x37.png" type="image/png">
              <img src="{{ app_url }}/static/images/doseextra-152x37.png" alt="{{ app_name }} logo" width="120">
            </picture>
          </figure>
        </a>
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          </p>
          <div class="social">
            <ul>
              <li>
                <a href="#">
                  {% include 'partials/svg/facebook.svg' %}
                </a>
              </li>
              <li>
                <a href="#">
                  {% include 'partials/svg/linkedin.svg' %}
                </a>
              </li>
              <li>
                <a href="#">
                  {% include 'partials/svg/instagram.svg' %}
                </a>
              </li>
              <li>
                <a href="#">
                  {% include 'partials/svg/github.svg' %}
                </a>
              </li>
              <li>
                <a href="#">
                  {% include 'partials/svg/youtube.svg' %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-container company">
        <h3>Empresa</h3>
        <div class="footer-links">
          <ul>
            <li>
              <a href="#">
                Quem somos
              </a>
            </li>
            <li>
              <a href="#">
                Nossa missão
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
            <li>
              <a href="#">
                Faça parte
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-container support">
        <h3>Suporte</h3>
        <div class="footer-links">
          <ul>
            <li>
              <a href="#">
                Ajuda
              </a>
            </li>
            <li>
              <a href="#">
                Contato
              </a>
            </li>
            <li>
              <a href="#">
                Termos de uso
              </a>
            </li>
            <li>
              <a href="#">
                Política de privacidade
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-container contact">
        <h3>Contato</h3>
        <div class="footer-links">
          <ul>
            <li>
              <address>
                Caxias do Sul - RS, Brasil
              </address>
            </li>
            <li>
              <span>Telefone: </span>
              <a href="#">
                <i class="fa fa-phone"></i>
                (54) 99999-9999
              </a>
            </li>
            <li>
              <span>Email: </span>
              <a href="#">
                <i class="fa fa-envelope"></i>
                email@email.com
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="legal">
      <div class="copyright">
        <span>© 2021 {{ app_name }}. Todos direitos reservados</span>
      </div>
      <div class="important">
        <ul>
          <li>
            <a href="">Política de privacidade</a>
          </li>
          <li>
            <a href="">Termos de uso</a>
          </li>
          <li>
            <a href="">Política de cookies</a>
          </li>
          <li>
            <a href="">Contato</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</footer>