* {
  --light-color: #fff;
  --dark-color: #000;
  --text-color: #5c5776;
  --text-color-secondary: #79758f;
  --text-color-alternative: #a8a3b9;
  --background-color: #f5f4f8;
  --border-color: #dbd8e9;
  --button-border-color: #1c1d1f;
  --header-link-color: #18113c;
  --header-link-hover-color: #754ffe;

  --primary-color: #754ffe;
  --primary-color-hover: #6343d8;
  --secondary-color: #18113c;
  --secondary-color-hover: #04030a;

  --red-color: #e53f3c;

  --text-size: 0.9rem;

  --linkedin-color: #0077b5;
  --github-color: #161614;
  --twitter-color: #1da1f2;
  --facebook-color: #3b5998;
  --instagram-color: #e1306c;
  --youtube-color: #ff0000;
  --pinterest-color: #bd081c;
}