svg {
  width: 1rem;
  height: 1rem;
  fill: var(--text-color-alternative);
  &#linkedin {
    fill: var(--linkedin-color);
  }
  &#github {
    fill: var(--github-color);
  }
  &#twitter {
    fill: var(--twitter-color);
  }
  &#instagram {
    fill: url(#gradient);
  }
  &#facebook {
    fill: var(--facebook-color);
  }
  &#youtube {
    fill: var(--youtube-color);
  }
}
